In [1]:
import pandas as pd
import json

# Spotify Dataset

In [96]:
data = pd.read_csv("Datasets/data.csv")

In [97]:
countries = list(set(data.Region) - set(['global']))

In [98]:
with open('Datasets/countries.json', 'w') as outfile:
    json.dump(countries, outfile)

In [109]:
data = data.dropna()

In [111]:
songs = list(set(data["Track Name"]))
with open('Datasets/songs.json', 'w') as outfile:
    json.dump(songs, outfile)

In [112]:
db = client.music
infos = db.infos
infos.insert_one({"name":"songs_list", "value":songs})

# MongoDB access

In [5]:
import pymongo

In [6]:
from pymongo import MongoClient

In [7]:
with open('MongoDB/pass', 'r') as inFile:
    link = str(inFile.readline()[:-1])

In [8]:
client = MongoClient(link)

In [9]:
db = client.test_database

In [10]:

import datetime
post = {"author": "Mike", "text": "My first blog post!","tags": ["mongodb", "python", "pymongo"],"date": datetime.datetime.utcnow()}

In [11]:
posts = db.posts
post_id = posts.insert_one(post).inserted_id
post_id

ObjectId('5a0eaa5fd4235a166414dab5')

In [12]:
post = posts.find_one({"author":"Nathalie"})
post

{'_id': ObjectId('5a0dba0bd4235a14c4e1a139'),
 'author': 'Nathalie',
 'date': datetime.datetime(2017, 11, 16, 16, 17, 15, 429000),
 'tags': ['mongodb', 'python', 'pymongo'],
 'text': 'My first blog post!'}

## Import Dataset in MongoDB

In [30]:
db = client.music
entry = db.entry

In [31]:
from datetime import datetime
from dateutil.parser import parse

In [32]:
datetime.strptime(data.iloc[0].Date, '%Y-%m-%d')
data.iloc[0]

Position                                                      1
Track Name                                             Chantaje
Artist                                                  Shakira
Streams                                                  253019
URL           https://open.spotify.com/track/6mICuAdrwEjh6Y6...
Date                                                 2017-01-01
Region                                                       ar
Name: 0, dtype: object

In [35]:
data.to_json("Datasets/data.json")

In [ ]:
for index, row in data.iterrows():
    entry.insert_one({"pos":row.Position, "song":row["Track Name"], "artist":row.Artist, "streams":row.Streams, "url":row.URL, "reg":row.Region})

In [51]:
data[data.Artist == "Shakira"])

,Position,Track Name,Artist,Streams,URL,Date,Region
0,1,Chantaje,Shakira,253019,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,2017-01-01,ar
200,1,Chantaje,Shakira,185399,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,2017-01-02,ar
400,1,Chantaje,Shakira,183132,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,2017-01-03,ar
600,1,Chantaje,Shakira,186926,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,2017-01-04,ar
800,1,Chantaje,Shakira,191288,https://open.spotify.com/track/6mICuAdrwEjh6Y6...,2017-01-05,ar

In [79]:
song_streams = data[["Track Name","Streams","Date","Region"]].copy()
song_streams.columns = ["name.string()","streams.string()","date.date(2006-01-02)","region.string()"]
#song_streams["name"] = song_streams["name"].astype('category')

#song_streams["name"] = song_streams["name"].cat.codes

In [81]:
song_streams.to_csv("Datasets/idStreamsRegion.csv", index=False)

In [89]:
import datetime

In [90]:
test = db.test

In [94]:
entries = test.find({"date":datetime.datetime(2017, 2, 2, 0, 0)})
t = list(entries)

{'_id': ObjectId('5a0eccbf1217f9c8af3fae95'),
 'date': datetime.datetime(2017, 2, 2, 0, 0),
 'name': 'Despacito (Featuring Daddy Yankee)',
 'region': 'ar',
 'streams': '393283'}

In [95]:
t[0]

{'_id': ObjectId('5a0eccbf1217f9c8af3fae95'),
 'date': datetime.datetime(2017, 2, 2, 0, 0),
 'name': 'Despacito (Featuring Daddy Yankee)',
 'region': 'ar',
 'streams': '393283'}

# TopoJSON generation

In [103]:
allCountries = pd.read_csv("countries.csv")
alpha2Dict = {}
for name, alpha2 in zip(allCountries['name'], allCountries['alpha-2']):
    alpha2Dict[name] = str.lower(str(alpha2))
alpha2Dict

{'Afghanistan': 'af',
 'Albania': 'al',
 'Algeria': 'dz',
 'American Samoa': 'as',
 'Andorra': 'ad',
 'Angola': 'ao',
 'Anguilla': 'ai',
 'Antarctica': 'aq',
 'Antigua and Barbuda': 'ag',
 'Argentina': 'ar',
 'Armenia': 'am',
 'Aruba': 'aw',
 'Australia': 'au',
 'Austria': 'at',
 'Azerbaijan': 'az',
 'Bahamas': 'bs',
 'Bahrain': 'bh',
 'Bangladesh': 'bd',
 'Barbados': 'bb',
 'Belarus': 'by',
 'Belgium': 'be',
 'Belize': 'bz',
 'Benin': 'bj',
 'Bermuda': 'bm',
 'Bhutan': 'bt',
 'Bolivia (Plurinational State of)': 'bo',
 'Bonaire, Sint Eustatius and Saba': 'bq',
 'Bosnia and Herzegovina': 'ba',
 'Botswana': 'bw',
 'Bouvet Island': 'bv',
 'Brazil': 'br',
 'British Indian Ocean Territory': 'io',
 'Brunei Darussalam': 'bn',
 'Bulgaria': 'bg',
 'Burkina Faso': 'bf',
 'Burundi': 'bi',
 'Cabo Verde': 'cv',
 'Cambodia': 'kh',
 'Cameroon': 'cm',
 'Canada': 'ca',
 'Cayman Islands': 'ky',
 'Central African Republic': 'cf',
 'Chad': 'td',
 'Chile': 'cl',
 'China': 'cn',
 'Christmas Island': 'cx',
 'Cocos (Keeling) Islands': 'cc',
 'Colombia': 'co',
 'Comoros': 'km',
 'Congo': 'cg',
 'Congo (Democratic Republic of the)': 'cd',
 'Cook Islands': 'ck',
 'Costa Rica': 'cr',
 'Croatia': 'hr',
 'Cuba': 'cu',
 'Curaçao': 'cw',
 'Cyprus': 'cy',
 'Czech Republic': 'cz',
 "Côte d'Ivoire": 'ci',
 'Denmark': 'dk',
 'Djibouti': 'dj',
 'Dominica': 'dm',
 'Dominican Republic': 'do',
 'Ecuador': 'ec',
 'Egypt': 'eg',
 'El Salvador': 'sv',
 'Equatorial Guinea': 'gq',
 'Eritrea': 'er',
 'Estonia': 'ee',
 'Ethiopia': 'et',
 'Falkland Islands (Malvinas)': 'fk',
 'Faroe Islands': 'fo',
 'Fiji': 'fj',
 'Finland': 'fi',
 'France': 'fr',
 'French Guiana': 'gf',
 'French Polynesia': 'pf',
 'French Southern Territories': 'tf',
 'Gabon': 'ga',
 'Gambia': 'gm',
 'Georgia': 'ge',
 'Germany': 'de',
 'Ghana': 'gh',
 'Gibraltar': 'gi',
 'Greece': 'gr',
 'Greenland': 'gl',
 'Grenada': 'gd',
 'Guadeloupe': 'gp',
 'Guam': 'gu',
 'Guatemala': 'gt',
 'Guernsey': 'gg',
 'Guinea': 'gn',
 'Guinea-Bissau': 'gw',
 'Guyana': 'gy',
 'Haiti': 'ht',
 'Heard Island and McDonald Islands': 'hm',
 'Holy See': 'va',
 'Honduras': 'hn',
 'Hong Kong': 'hk',
 'Hungary': 'hu',
 'Iceland': 'is',
 'India': 'in',
 'Indonesia': 'id',
 'Iran (Islamic Republic of)': 'ir',
 'Iraq': 'iq',
 'Ireland': 'ie',
 'Isle of Man': 'im',
 'Israel': 'il',
 'Italy': 'it',
 'Jamaica': 'jm',
 'Japan': 'jp',
 'Jersey': 'je',
 'Jordan': 'jo',
 'Kazakhstan': 'kz',
 'Kenya': 'ke',
 'Kiribati': 'ki',
 "Korea (Democratic People's Republic of)": 'kp',
 'Korea (Republic of)': 'kr',
 'Kuwait': 'kw',
 'Kyrgyzstan': 'kg',
 "Lao People's Democratic Republic": 'la',
 'Latvia': 'lv',
 'Lebanon': 'lb',
 'Lesotho': 'ls',
 'Liberia': 'lr',
 'Libya': 'ly',
 'Liechtenstein': 'li',
 'Lithuania': 'lt',
 'Luxembourg': 'lu',
 'Macao': 'mo',
 'Macedonia (the former Yugoslav Republic of)': 'mk',
 'Madagascar': 'mg',
 'Malawi': 'mw',
 'Malaysia': 'my',
 'Maldives': 'mv',
 'Mali': 'ml',
 'Malta': 'mt',
 'Marshall Islands': 'mh',
 'Martinique': 'mq',
 'Mauritania': 'mr',
 'Mauritius': 'mu',
 'Mayotte': 'yt',
 'Mexico': 'mx',
 'Micronesia (Federated States of)': 'fm',
 'Moldova (Republic of)': 'md',
 'Monaco': 'mc',
 'Mongolia': 'mn',
 'Montenegro': 'me',
 'Montserrat': 'ms',
 'Morocco': 'ma',
 'Mozambique': 'mz',
 'Myanmar': 'mm',
 'Namibia': 'nan',
 'Nauru': 'nr',
 'Nepal': 'np',
 'Netherlands': 'nl',
 'New Caledonia': 'nc',
 'New Zealand': 'nz',
 'Nicaragua': 'ni',
 'Niger': 'ne',
 'Nigeria': 'ng',
 'Niue': 'nu',
 'Norfolk Island': 'nf',
 'Northern Mariana Islands': 'mp',
 'Norway': 'no',
 'Oman': 'om',
 'Pakistan': 'pk',
 'Palau': 'pw',
 'Palestine, State of': 'ps',
 'Panama': 'pa',
 'Papua New Guinea': 'pg',
 'Paraguay': 'py',
 'Peru': 'pe',
 'Philippines': 'ph',
 'Pitcairn': 'pn',
 'Poland': 'pl',
 'Portugal': 'pt',
 'Puerto Rico': 'pr',
 'Qatar': 'qa',
 'Romania': 'ro',
 'Russian Federation': 'ru',
 'Rwanda': 'rw',
 'Réunion': 're',
 'Saint Barthélemy': 'bl',
 'Saint Helena, Ascension and Tristan da Cunha': 'sh',
 'Saint Kitts and Nevis': 'kn',
 'Saint Lucia': 'lc',
 'Saint Martin (French part)': 'mf',
 'Saint Pierre and Miquelon': 'pm',
 'Saint Vincent and the Grenadines': 'vc',
 'Samoa': 'ws',
 'San Marino': 'sm',
 'Sao Tome and Principe': 'st',
 'Saudi Arabia': 'sa',
 'Senegal': 'sn',
 'Serbia': 'rs',
 'Seychelles': 'sc',
 'Sierra Leone': 'sl',
 'Singapore': 'sg',
 'Sint Maarten (Dutch part)': 'sx',
 'Slovakia': 'sk',
 'Slovenia': 'si',
 'Solomon Islands': 'sb',
 'Somalia': 'so',
 'South Africa': 'za',
 'South Georgia and the South Sandwich Islands': 'gs',
 'South Sudan': 'ss',
 'Spain': 'es',
 'Sri Lanka': 'lk',
 'Sudan': 'sd',
 'Suriname': 'sr',
 'Svalbard and Jan Mayen': 'sj',
 'Swaziland': 'sz',
 'Sweden': 'se',
 'Switzerland': 'ch',
 'Syrian Arab Republic': 'sy',
 'Taiwan, Province of China': 'tw',
 'Tajikistan': 'tj',
 'Tanzania, United Republic of': 'tz',
 'Thailand': 'th',
 'Timor-Leste': 'tl',
 'Togo': 'tg',
 'Tokelau': 'tk',
 'Tonga': 'to',
 'Trinidad and Tobago': 'tt',
 'Tunisia': 'tn',
 'Turkey': 'tr',
 'Turkmenistan': 'tm',
 'Turks and Caicos Islands': 'tc',
 'Tuvalu': 'tv',
 'Uganda': 'ug',
 'Ukraine': 'ua',
 'United Arab Emirates': 'ae',
 'United Kingdom of Great Britain and Northern Ireland': 'gb',
 'United States Minor Outlying Islands': 'um',
 'United States of America': 'us',
 'Uruguay': 'uy',
 'Uzbekistan': 'uz',
 'Vanuatu': 'vu',
 'Venezuela (Bolivarian Republic of)': 've',
 'Viet Nam': 'vn',
 'Virgin Islands (British)': 'vg',
 'Virgin Islands (U.S.)': 'vi',
 'Wallis and Futuna': 'wf',
 'Western Sahara': 'eh',
 'Yemen': 'ye',
 'Zambia': 'zm',
 'Zimbabwe': 'zw',
 'Åland Islands': 'ax'}

In [105]:
countryIDs = pd.read_csv("world-country-names.tsv", sep="\t")
idDict = {}
for countryID, name in zip(countryIDs['id'], countryIDs['name']):
    try:
        idDict[str(int(countryID))] = (alpha2Dict[name], name)
    except:
        print("No correspondance found for: " + name + " id: " + str(countryID))

No correspondance found for: Northern Cyprus id: -1
No correspondance found for: Kosovo id: -2
No correspondance found for: Somaliland id: -3
No correspondance found for: Bolivia, Plurinational State of id: 68
No correspondance found for: Virgin Islands, British id: 92
No correspondance found for: Cape Verde id: 132
No correspondance found for: Congo, the Democratic Republic of the id: 180
No correspondance found for: Palestinian Territory, Occupied id: 275
No correspondance found for: Holy See (Vatican City State) id: 336
No correspondance found for: Iran, Islamic Republic of id: 364
No correspondance found for: Korea, Democratic People's Republic of id: 408
No correspondance found for: Korea, Republic of id: 410
No correspondance found for: Moldova, Republic of id: 498
No correspondance found for: Micronesia, Federated States of id: 583
No correspondance found for: Macedonia, the former Yugoslav Republic of id: 807
No correspondance found for: United Kingdom id: 826
No correspondance found for: United States id: 840
No correspondance found for: Virgin Islands, U.S. id: 850
No correspondance found for: Venezuela, Bolivarian Republic of id: 862

In [111]:
idDict["840"] = ('us', "United States")
idDict["826"]  = ('gb', 'United Kingdom')
idDict["498"]  = ('md','Moldova')
idDict["410"]  = ('kr',"Republic of Korea")
idDict["408"]  = ('kp',"Democratic People's Republic of Korea")
idDict["807"]  = ('mk',"Macedonia (FYRO)")
idDict["862"]  = ('ve',"Venezuela")
idDict["364"]  = ('ir','Iran')
idDict["68"] = ('bo','Bolivia')
idDict["-2"] = ('xk','Kosovo')
idDict["180"]  = ('cd','Democratic Republic of Congo')
idDict["275"]  = ('ps','Palestine')
idDict["583"]  = ('fm','Micronesia')

In [112]:
infos[infos['alpha2'] == ""]

    alpha2                      arcs   id name     type
38                      [[218, 219]]  -99       Polygon
88            [[-18, 404, 405, 406]]  -99       Polygon
145         [[-265, -233, 554, 555]]  -99       Polygon

In [113]:
with open("all-geo-110m.json", "w") as out:
    json.dump(geo, out)

In [114]:
with open("id_dict.json", "w") as out:
    json.dump(idDict, out)